.modal{
	top: 99px;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	background: #FFFFFF;
	margin: 0 auto;
	display: block;
	padding: 0;
	height: 420px;
	box-shadow: 0 0 130px 28px #00000073;
}

.modal-head{
	background: #ffffff;
	padding: 5px;
	font-size: 17px;
	line-height: 32px;
}
